.Rep {
  align-items: center;
  text-align: center;
  font-family: sans-serif;
}

.RepLoader {
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.text-input {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-transform: capitalize;
}

.button-submit {
  width: 25%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.button-dropdown {
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: white;

}

.button-submit:hover {
  background-color: #45a049;
}

.text_header_style {
  text-align: center;
  text-transform: uppercase;

}

.text_header_style2 {
  text-align: center;
  text-transform: capitalize;
  text-decoration: underline;
  color: #ff0000;
}

.align-center-main {

  justify-content: center;
  align-items: center;
  text-align: center;

}

.align-center {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  overflow-x: auto;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.align-space {
  padding-right: 1.5em;

}

.align-space-top {
  padding-right: 1.5em;

}

.largerCheckbox {
  width: 18px;
  height: 18px;

}

.custom-ui {
  background: white;
  width: 420px;
  height: 200px;
  padding: 0.5em;
  text-align: left;
  border-radius: 8px;
  padding-left: 1.7rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}



.custom-heading {

  font-size: 3.8vmin;
  text-align: left;

}

.btn-no {

  text-align: center;
  align-items: left;
  justify-content: left;
  background-color: #FF0000;
  border: 6px solid #FF0000;
  border-radius: 8px;
  width: 15%;
  height: 2rem;
  margin-right: 1.2rem;
  color: white;
  cursor: pointer;

}

.btn-yes {

  text-align: center;
  align-items: left;
  justify-content: left;
  background-color: #4CAF50;
  border: 6px solid #4CAF50;
  border-radius: 8px;
  width: auto;
  height: 2rem;
  margin: 1rem;
  color: white;
  cursor: pointer;

}


.btn-no:hover, .btn-yes:hover {

  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px #c20c0c;
  transition: 0.9s;


}

.btn-yes:hover {

  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px #45a049;
  transition: 0.9s;


}

@media screen and (max-width: 600px) {
  .text-input, .button-submit, .button-dropdown, input[type=submit] {
    width: 50%;
    padding: 12px;
  }

  .align-center {

    margin: auto;
    margin-left: 1rem;

  }

  .align-space {

    width: 0.1%;
    white-space: nowrap;
  }

  .custom-ui {
    width: auto;
    height: auto;
    margin: 1rem
  }


}